DJANGO_SECRET_KEY=5$%ho63g8r7#j8x=6$-k)qrb-5zjtg1#&00*4nalq)s1@dq$j7
DEBUG=False
ALLOWED_HOSTS=.onrender.com
STRIPE_PUBLIC_KEY=pk_test_51SUWHsK8fYvT5V5ZvnbkBV1Lc5jU1SWw1WojQjgct3dedaoUVr6N0tk5iFQmvcBk4MoOYb6TCfRSjAfJ40j9gAaV00ogvGeuyM